# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: beta-xcode6.1

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "Lxv/Fftc7L4fbKEY1bscbjqom7gwLWh6+HypzjLC/ItMRh/zEwWsLvIGbUcCdm1pxrHAJNV13mmRWbbtf2zn8viAWzxOlkRSjKvmJOGk74uFe+bV/8osGE28i//ExnIpAD1ZSxtMfisyAFHd52376yvVnGMD8nzd0B2h8J3+q8rjDNcqn5wHqQrAdLiZsu9p44xhaYFqjbM3Dj7vMoKDAlRmO3zMTgxpLMgFuw3AR0a+sesRomExRaryKTFuZbv6+YpyYPcmQ95SYI2JrvdDvoJ35pGGYJDoPG9h6D1tt8o3IH242Edr1ZlvwL+Jy+G7yODNlYjTklFXQgPayU93nNw8yF7+hHQRF8QyrI5xY0Es6CpwjkinKpmohH825xIDNYPJZMOokqFjQFVBdUkz9vCXtgazo/TUGF1iGROTcQ2EYKSGiT23JxMobfcws1P731iU9M1mocJJEWzK0dVvgbN0K8I4PQ4h4fo2bk7MKDsma1c0/FbeNajd/xcj23lUEHLYHGu7uvBK7AhIfe/bjbCI3bv5jYQHObmtfJutkyoRI/VSH92dV0JBBPnQ35MefimAUtyHAnY0jXa7tlsmAmueGob2a9uhD63BFrmwybCFCG+4oZQPrKYh2wSXkc9TvrC/AXqsnE30gLM9hHJONVSi6roQo6Cp3QYrr1Xz8Ww="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
